@tailwind base;
@tailwind components;
@tailwind utilities;

/**
    Theme setup
    It's created by: https://www.realtimecolors.com/?colors=101413-f9fbfa-51bd92-98e7c7-eb568f&fonts=IRANSansX%20-IRANSansX
 */

@layer base {
    :root {
        --text: #101413;
        --background: #ededed;
        --primary: #7fd7c8;
        --secondary: #48998b;
        --accent: #e9872b;

        --text-50: #f1f4f3;
        --text-100: #e3e8e7;
        --text-200: #c6d2cf;
        --text-300: #aabbb7;
        --text-400: #8ea49f;
        --text-500: #718e87;
        --text-600: #5b716c;
        --text-700: #445551;
        --text-800: #2d3936;
        --text-900: #171c1b;
        --text-950: #0b0e0d;

        --background-50: #f2f2f2;
        --background-100: #e6e6e6;
        --background-200: #cccccc;
        --background-300: #b3b3b3;
        --background-400: #999999;
        --background-500: #808080;
        --background-600: #666666;
        --background-700: #4d4d4d;
        --background-800: #333333;
        --background-900: #1a1a1a;
        --background-950: #0d0d0d;

        --primary-50: #ecf9f7;
        --primary-100: #d8f3ee;
        --primary-200: #b1e7de;
        --primary-300: #8bdacd;
        --primary-400: #64cebc;
        --primary-500: #3dc2ac;
        --primary-600: #319b89;
        --primary-700: #257467;
        --primary-800: #184e45;
        --primary-900: #0c2722;
        --primary-950: #061311;

        --secondary-50: #eef6f5;
        --secondary-100: #deedeb;
        --secondary-200: #bddbd6;
        --secondary-300: #9cc9c2;
        --secondary-400: #7ab8ad;
        --secondary-500: #59a699;
        --secondary-600: #47857a;
        --secondary-700: #36635c;
        --secondary-800: #24423d;
        --secondary-900: #12211f;
        --secondary-950: #09110f;

        --accent-50: #fdf2e8;
        --accent-100: #fae5d1;
        --accent-200: #f5cba3;
        --accent-300: #f0b075;
        --accent-400: #ec9646;
        --accent-500: #e77c18;
        --accent-600: #b96313;
        --accent-700: #8a4a0f;
        --accent-800: #5c320a;
        --accent-900: #2e1905;
        --accent-950: #170c02;
    }

    .dark {
        --text: #ebefee;
        --background: #121212;
        --primary: #287f71;
        --secondary: #66b7aa;
        --accent: #d47216;

        --text-50: #0b0e0d;
        --text-100: #171c1b;
        --text-200: #2d3936;
        --text-300: #445551;
        --text-400: #5b716c;
        --text-500: #718e87;
        --text-600: #8ea49f;
        --text-700: #aabbb7;
        --text-800: #c6d2cf;
        --text-900: #e3e8e7;
        --text-950: #f1f4f3;

        --background-50: #0d0d0d;
        --background-100: #1a1a1a;
        --background-200: #333333;
        --background-300: #4d4d4d;
        --background-400: #666666;
        --background-500: #808080;
        --background-600: #999999;
        --background-700: #b3b3b3;
        --background-800: #cccccc;
        --background-900: #e6e6e6;
        --background-950: #f2f2f2;

        --primary-50: #061311;
        --primary-100: #0c2722;
        --primary-200: #184e45;
        --primary-300: #257467;
        --primary-400: #319b89;
        --primary-500: #3dc2ac;
        --primary-600: #64cebc;
        --primary-700: #8bdacd;
        --primary-800: #b1e7de;
        --primary-900: #d8f3ee;
        --primary-950: #ecf9f7;

        --secondary-50: #09110f;
        --secondary-100: #12211f;
        --secondary-200: #24423d;
        --secondary-300: #36635c;
        --secondary-400: #47857a;
        --secondary-500: #59a699;
        --secondary-600: #7ab8ad;
        --secondary-700: #9cc9c2;
        --secondary-800: #bddbd6;
        --secondary-900: #deedeb;
        --secondary-950: #eef6f5;

        --accent-50: #170c02;
        --accent-100: #2e1905;
        --accent-200: #5c320a;
        --accent-300: #8a4a0f;
        --accent-400: #b96313;
        --accent-500: #e77c18;
        --accent-600: #ec9646;
        --accent-700: #f0b075;
        --accent-800: #f5cba3;
        --accent-900: #fae5d1;
        --accent-950: #fdf2e8;
    }
}

/**
    Font setup
 */

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/IRANSansX-Regular.woff2") format('woff2');
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/IRANSansX-Bold.woff2") format('woff2');
}

body {
    font-family: IRANSansX, sans-serif !important;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6,input, textarea {
    font-family: IRANSansX, sans-serif !important;
}

h1 {
    font-weight: bold;
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
}

.ltr {
    direction: ltr;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-small {
    font-size: 0.8em;
}

.text-xsmall {
    font-size: 0.6em;
}

.text-large {
    font-size: 1.2em;
}

.text-xlarge {
    font-size: 1.4em;
}

.text-underline {
    text-decoration:underline;
}

.text-thin {
    font-weight: 100;
}

.text-UltraLight {
    font-weight: 200;
}

.text-light {
    font-weight: 300;
}

.text-regular {
    font-weight: 400;
}

.text-medium {
    font-weight: 500;
}

.text-demibold {
    font-weight: 600;
}

.text-bold {
    font-weight: 700;
}

.text-extrabold {
    font-weight: 800;
}

.text-black {
    font-weight: 900;
}

blockquote {
    font-weight: 700;
    padding: 10px;
    border: 1px dashed #666666;
}

.primary-button:hover {
    transform: translate(0, -3px);
    box-shadow: 0 0 80px -10px theme('colors.primary.DEFAULT');
}

.secondary-button:hover {
    transform: translate(0, -3px);
    /*box-shadow: 0 20px 80px -10px theme('colors.secondary.DEFAULT');*/
}

.danger-button:hover {
    transform: translate(0, -3px);
    box-shadow: 0 0 80px -10px theme('colors.red.500');
}

/**
    Spark Transition
 */

.sparkle {
    position: absolute;
    right: 0;
    font-size: 1rem;
    opacity: 1;
    transition: transform 3s ease-out, opacity 3s ease-out;
}

.sparkle-fade-up {
    transform: translateY(-100px); /* Move upward */
    opacity: 0; /* Fade out */
}

/**
    Formula Variables
 */

.formula-variable {
    color: var(--text);
    background-color: var(--primary);
    padding: 0.3rem 0.75rem ;
    margin: 0 2px;
    border-radius: 0.375rem;
    cursor: pointer;
    user-select: none;
}

.formula-storage-variable {
    color: white;
    background-color: var(--accent);
    padding: 0.3rem 0.75rem ;
    margin: 0 2px;
    border-radius: 0.375rem;
    cursor: pointer;
    user-select: none;
}

/**
    Toast Animation
 */

@keyframes slide-in {
    from {
        /* Start from the below of screen */
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(100%);
        opacity: 0
    }
}

.toast-transition-in {
    animation: slide-in 1s forwards;
}

.toast-transition-out {
    animation: slide-out 1s forwards;
}
